<div class="container">
  <div class="row">
    <div class="col-12 pt-5 text-center">
      <h1 class="no-margin-bottom color-light-gray font-weight-bold font-size70 sm-font-size50">
        # self
      </h1>
    </div>
  </div><!-- ROW -->

  <div class="row">
    <div class="col align-self-center">
      <div class="color-secondary font-size18 font-weight-bold">
        my interests
      </div>
    </div>
  </div><!-- ROW -->

  <div class="row margin-70px-top sm-margin-50px-top justify-content-center">
    <div class="col-auto" *ngFor="let eachCard of interestsData">
      <div class="border-all no-border-left border-dashed border-color-extra-medium-gray rounded-right
        xs-no-margin-lr xs-margin-10px-tb sm-no-margin-lr sm-margin-15px-tb md-margin-15px-all margin-15px-all  
        width-150px text-left align-items-center">
        <div class="d-inline-block vertical-align-middle width-7px height-60px" [style.background-color]="eachCard.bgcolor"></div>
        <span class="vertical-align-middle pl-2 font-weight-bold font-size15">
          {{eachCard.title}}
        </span>
        <span class="text-muted float-right m-2 font-size13">
          {{eachCard.proficiency}}
        </span>
      </div>
    </div>
  </div><!-- ROW -->

  <div class="row padding-80px-tb">
    <hr class="col-auto hr-break">
  </div><!-- ROW -->
  
  <div class="row">
    <div class="col-12 text-center">
      <h1 class="no-margin-bottom color-light-gray font-weight-bold font-size70 sm-font-size50">
        # profiles
      </h1>
    </div>
  </div><!-- ROW -->

  <div class="row">
    <div class="col align-self-center">
      <div class="color-secondary font-size18 font-weight-bold">
        my presence
      </div>
    </div>
  </div><!-- ROW -->

  <div class="row margin-70px-top sm-margin-50px-top justify-content-center">
    <div class="col-auto">
      <div class="card-columns">
        <div class="card no-outline" *ngFor="let eachCard of profilesData">
          <div class="card-header">
            {{eachCard.title}}
          </div>
          <div class="card-body">
            <div class="card-text" *ngFor="let eachElem of eachCard.innerHTML">
              <span class="d-inline-block" [innerHTML]="eachElem"></span>
            </div>
          </div>
        </div>
      </div><!-- CARD-COLUMNS -->
    </div>
  </div><!-- ROW -->

</div>