<div class="container">
  <div class="row">
    <div class="col-12 pt-5 text-center">
      <h1 class="no-margin-bottom color-light-gray font-weight-bold font-size70 sm-font-size50">
        # self
      </h1>
    </div>
  </div><!-- ROW -->

  <div class="row">
    <div class="col align-self-center">
      <div class="color-secondary font-size18 font-weight-bold">
        my interests
      </div>
    </div>
  </div><!-- ROW -->

  <div class="row margin-70px-top sm-margin-50px-top justify-content-center">
    <div class="col-auto" *ngFor="let eachCard of interestsData">
      <div class="border-all no-border-left border-dashed border-color-extra-medium-gray rounded-right
        xs-no-margin-lr xs-margin-10px-tb sm-no-margin-lr sm-margin-15px-tb md-margin-15px-all margin-15px-all  
        width-150px text-left align-items-center">
        <div class="d-inline-block vertical-align-middle width-7px height-60px bg-primary"></div>
        <span class="vertical-align-middle pl-2 font-weight-bold font-size15">
          {{eachCard.title}}
        </span>
        <span class="text-muted float-right m-2 font-size13">
          {{eachCard.proficiency}}
        </span>
      </div>
    </div>
  </div><!-- ROW -->

  <div class="row padding-80px-tb">
    <hr class="col-auto hr-break">
  </div><!-- ROW -->
  
  <div class="row">
    <div class="col-12 text-center">
      <h1 class="no-margin-bottom color-light-gray font-weight-bold font-size70 sm-font-size50">
        # online
      </h1>
    </div>
  </div><!-- ROW -->

  <div class="row">
    <div class="col align-self-center">
      <div class="color-secondary font-size18 font-weight-bold">
        my favorites & my profiles
      </div>
    </div>
  </div><!-- ROW -->

  <div class="row margin-70px-top sm-margin-50px-top justify-content-center">
    <div class="col-auto">
      <div class="card-columns">
        <div class="card no-outline" *ngFor="let eachCard of profilesData">
          <div class="card-header text-muted font-size14 font-weight-bold">
            <span [innerHTML]="eachCard.title"></span>
          </div>
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item" *ngFor="let eachElem of eachCard.innerHTML">
                <div [innerHTML]="eachElem"></div>  
              </li>
            </ul>
            <!-- <div class="card-text m-3" *ngFor="let eachElem of eachCard.innerHTML">
              <div class="" [innerHTML]="eachElem"></div>
            </div>
          </div> -->
        </div>
      </div><!-- CARD-COLUMNS -->
    </div>
  </div><!-- ROW -->

</div>