<div class="container" *ngIf="cardsData.length > 0">
  <div class="row">
    <div class="col-12 pt-5 text-center">
      <h1 class="no-margin-bottom color-light-gray font-weight-bold font-size70 sm-font-size50">
        # self
      </h1>
    </div>
  </div>

  <div class="row">
    <div class="col align-self-center">
      <div class="color-secondary font-size18 font-weight-bold padding-100px-left">
        my interests
      </div>
    </div>
  </div>

  <div class="row margin-70px-top sm-margin-50px-top justify-content-center">
    <div class="col-auto">
      swimming,
      playing cards
    </div>
  </div>

  <div class="row padding-80px-tb">
    <hr class="col-auto hr-break">
  </div>
  
  <div class="row">
    <div class="col-12 text-center">
      <h1 class="no-margin-bottom color-light-gray font-weight-bold font-size70 sm-font-size50">
        # profiles
      </h1>
    </div>
  </div>

  <div class="row">
    <div class="col align-self-center">
      <div class="color-secondary font-size18 font-weight-bold padding-100px-left">
        my presence
      </div>
    </div>
  </div>

  <!-- <div class="row text-right">
    <div class="col-12 pb-4 color-secondary">
      my presence
    </div>
  </div> -->

  <div class="row margin-70px-top sm-margin-50px-top justify-content-center">
    <div class="col-auto" *ngFor="let eachCard of cardsData">
      <a class="card mt-5 py-3 no-outline no-link hover-effect border-dotted" [href]="eachCard.link" target="_blank" title="{{eachCard.title}}">
      <!-- <a class="card css-grow mt-5 no-outline no-link" [href]="eachCard.link" target="_blank" title="{{eachCard.title}}"> -->
        <!-- <div class="card-header bg-transparent border-transperent font-weight-bold">
          {{eachCard.title}}
          <img class="float-right ml-3 external-link-icon" src="assets/icons/external-link.svg" height="15px" title="Opens link in new tab">
        </div> -->
        <div class="card-body card-size">
          <!-- {{eachCard.title}} -->
          <img class="float-right ml-3 external-link-icon" src="assets/icons/external-link.svg" height="15px" title="Opens link in new tab">
          <!-- <h5 class="card-title"></h5> -->
          <!-- <h6 class="card-subtitle mb-2 text-muted">{{eachCard.subTitle}}</h6> -->
          <div class="card-text" [innerHTML]="eachCard.innerHTML"></div>
            <!-- <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a> -->
        </div>
      </a>
    </div>
    <!-- <div class="col-auto" *ngFor="let eachCard of cardsData">
      <div class="card no-outline no-border-all" title="Proficiency {{eachCard.proficiency}}%">
        <div class="card-header bg-transparent border-transperent font-weight-bold">
          {{eachCard.title}}
        </div>
      </div>
    </div> -->
  </div>
</div>

  
<!-- </div> -->

<!-- profile for PPM1988 at Stack Overflow, Q&amp;A for professional and enthusiast programmers -->
<!-- profile for PPM1988 at Stack Overflow, Q&amp;A for professional and enthusiast programmers -->

<!-- <a href="https://stackexchange.com/users/3543237" target="_blank"><img src="https://stackexchange.com/users/flair/3543237.png?theme=clean" width="208" height="58" alt=""></a> -->
<!-- profile for PPM1988 on Stack Exchange, a network of free, community-driven Q&amp;A sites" title="profile for PPM1988 on Stack Exchange, a network of free, community-driven Q&amp;A sites -->

<!-- <div class="github-card" data-user="lepture" data-repo="github-cards"></div> -->

<!-- <div class="col-auto text-center">
  <ng-github-card [githubUser]="'ppm1988'"></ng-github-card>
</div> -->

<!-- <github-card data-github="ppm1988" data-width="400" data-height="150" data-theme="default"></github-card> -->