<div class="container" *ngIf="cardsData.length > 0">
  <div class="row justify-content-center">
    <div class="col-auto" *ngFor="let eachCard of cardsData">
      <a class="card css-grow mt-5 no-outline no-link" [href]="eachCard.link" target="_blank" title="{{eachCard.title}}">
        <div class="card-header">
          {{eachCard.title}}
          <img class="float-right ml-3 external-link-icon" src="assets/icons/external-link.svg" height="15px" title="Open link in new tab">
        </div>
        <div class="card-body card-size">
          <!-- <h5 class="card-title"></h5> -->
          <!-- <h6 class="card-subtitle mb-2 text-muted">{{eachCard.subTitle}}</h6> -->
          <div class="card-text" [innerHTML]="eachCard.innerHTML"></div>
            <!-- <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a> -->
        </div>
      </a>
    </div>
  </div>
</div>
