<div class="container pt-5" *ngIf="cardsData.length > 0">
  <div class="row justify-content-center">
    <div class="col-auto" *ngFor="let eachCard of cardsData">
      <div class="card card-hover">
        <div class="card-header">
          {{eachCard.title}}
        </div>
        <div class="card-body">
          <!-- <h5 class="card-title"></h5> -->
          <!-- <h6 class="card-subtitle mb-2 text-muted">{{eachCard.subTitle}}</h6> -->
          <p class="card-text" [innerHTML]="eachCard.innerHTML"></p>
            <!-- <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a> -->
        </div>
      </div>
    </div>
  </div>
</div>
