<div class="container" *ngIf="cardsData.length > 0">
  <!-- <h1 class="row pt-5 pb-1 padding-ten-left text-left color-secondary font-weight-bold font-size70 sm-font-size50"># skill set</h1>
  <div class="row pb-4 padding-ten-left padding-ten-right text-right font-size46 md-font-size36 sm-font-size36 color-light-gray">
    list of competencies that I like to project
  </div> -->
  <div class="row">
    <div class="col-12 pt-5 text-center">
      <h1 class="no-margin-bottom color-light-gray font-weight-bold font-size70 sm-font-size50">
        # tech stack
      </h1>
    </div>
  </div>

  <!-- <div class="row">
    <h1 class="col-12 pt-5 pb-1 text-center color-light-gray font-weight-bold font-size70 sm-font-size50">
    # tech stack
    </h1>
  </div> -->

  <div class="row">
    <div class="pb-4 col align-self-center">
      <div class="color-secondary font-size18 font-weight-bold padding-100px-left d-inline-block" >
        my competence
      </div>
    </div>
  </div>

  <!-- <div class="row text-right">
    <div class="col-12 pb-4 color-secondary">
      my competence
    </div>
  </div> -->

  <div class="row margin-70px-top sm-margin-20px-top justify-content-center">
    <div class="col-auto" *ngFor="let eachCard of cardsData">
      <div class="card no-outline no-border-all" title="Proficiency {{eachCard.proficiency}}%">
        <!-- <div class="card-header bg-transparent border-transperent font-weight-bold">
          {{eachCard.title}}
        </div> -->
        <div class="card-body card-size">
          <div class="text-right font-size16">{{eachCard.title}}</div>
          <div class="progress mt-1">
            <div class="progress-bar bg-green" role="progressbar" [ngStyle]="{'filter': 'hue-rotate(' + eachCard.proficiency + 'deg)'}" 
            [style.width.%]="eachCard.proficiency" [attr.aria-valuenow]="eachCard.proficiency" aria-valuemin="0" aria-valuemax="100">
            </div>
            <span class="d-inline-block ml-2">{{eachCard.proficiency}}%</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row padding-100px-tb">
    <hr class="col-auto hr-break">
  </div>
  
  <div class="row">
    <div class="col-12 pb-1 pt-2 text-center">
      <h1 class="no-margin-bottom color-light-gray font-weight-bold font-size70 sm-font-size50">
        # vocabulary
      </h1>
    </div>
  </div>

  <div class="row">
    <div class="pb-4 col align-self-center">
      <div class="color-secondary font-size18 font-weight-bold padding-100px-left d-inline-block" >
        my knowledge
      </div>
    </div>
  </div>

  <!-- <div class="row">
    <h1 class="col-12 pb-1 pt-2 text-center color-light-gray font-weight-bold font-size70 sm-font-size50">
    # vocabulary
    </h1>
  </div>

  <div class="row text-right">
    <div class="col-12 pb-4 color-secondary">
      my knowledge
    </div>
  </div> -->

  <!-- <h1 class="row pb-1 pt-2 padding-ten-left text-left color-secondary font-weight-bold font-size70 sm-font-size50"># cloud</h1>
  <div class="row pb-4 padding-ten-left padding-ten-right text-right font-size46 md-font-size36 sm-font-size36 color-light-gray">
    list of words that I can probably understand
  </div> -->
  
  <div class="row margin-70px-top sm-margin-20px-top justify-content-center">
    <div >
      <lib-cloudy [tags]="myTags" [options]="options"
        (tagClick)="showTagDetails($event)"></lib-cloudy>
    </div>
    Search input box
    <!-- <angular-tag-cloud
      [data]="data"
      [width]="options.width"
      [height]="options.height"
      [overflow]="options.overflow">
    </angular-tag-cloud> -->
  </div>
</div>