<h1>Cloud of things I Understand</h1>

Chances are that I will understand if you converse in this language
<br>

<!-- <angular-tag-cloud
  [data]="data"
  [width]="options.width"
  [height]="options.height"
  [overflow]="options.overflow">
</angular-tag-cloud> -->

<br>

Search input box


<br>
<div class="container" *ngIf="cardsData.length > 0">
  <div class="row justify-content-center">
    <div class="col-auto" *ngFor="let eachCard of cardsData">
      <div class="card mt-5 no-outline no-border-all">
        <div class="card-header bg-transparent">
          {{eachCard.title}}
        </div>
        <div class="card-body card-size">
          <div class="progress mt-3">
            <!-- [style.background-color]="getRandomColor()"  -->
            <div class="progress-bar opacity6" role="progressbar"
            [style.width.%]="eachCard.proficiency" [attr.aria-valuenow]="eachCard.proficiency" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


