<footer class="mt-5 bg-gray color-black top-shadow h-200px">
  <!-- <div class="row tex-center justify-content-center">
    <div class="col-auto col-lg-4">
      <alert></alert>
    </div>
  </div>
   -->
  <div class="">
    <div class="d-inline-block">
      Quotes
    </div>
    <div class="d-inline-block">
      <h1>PPM1988</h1>
    </div>
    <div class="d-inline-block">
      <div>&copy; ppm1988</div>
    </div>
    <div class="d-inline-block">
      Made with Sense
    </div>
    <div class="d-inline-block">
      Download Resume
    </div>
    <div class="d-inline-block">
      Accreditation
    </div>
    <div class="d-inline-block">
      SEO Privacy Policy
      <a href="#" class="d-block">PPM1988</a>
    </div>
    <div class="d-inline-block">
      Website Data Valid till 31 March 2020
    </div>
  </div>
   
<!-- Icons made by <a href="https://www.flaticon.com/authors/eucalyp" target="_blank" title="Eucalyp">Eucalyp</a> from <a href="https://www.flaticon.com/" target="_blank" title="Flaticon"> www.flaticon.com</a> -->
<!-- Icons made by <a href="https://www.flaticon.com/authors/kiranshastry" title="Kiranshastry">Kiranshastry</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a> -->
  
<!-- <img src="/examples/images/logo.svg" height="28" alt="CoolBrand"> -->
  
</footer>