<footer class="mt-5 bg-gray color-black top-shadow h-200px">
  <!-- <div class="row tex-center justify-content-center">
    <div class="col-auto col-lg-4">
      <alert></alert>
    </div>
  </div>
   -->
   Accreditation
<!-- Icons made by <a href="https://www.flaticon.com/authors/eucalyp" target="_blank" title="Eucalyp">Eucalyp</a> from <a href="https://www.flaticon.com/" target="_blank" title="Flaticon"> www.flaticon.com</a> -->
   Thirukural or quotes
   <br>
   <!-- <img src="/examples/images/logo.svg" height="28" alt="CoolBrand"> -->
   <h1>PPM1988</h1>
  Made with sense
  <a href="#" class="d-block">PPM1988</a>
  <div>&copy; ppm1988</div>
</footer>