
<div class="mt-5">
  <h3 class="text-muted">#List</h3>
  <app-cards-list></app-cards-list>
</div>

<!-- profile for PPM1988 at Stack Overflow, Q&amp;A for professional and enthusiast programmers -->
<!-- profile for PPM1988 at Stack Overflow, Q&amp;A for professional and enthusiast programmers -->

<!-- <a href="https://stackexchange.com/users/3543237" target="_blank"><img src="https://stackexchange.com/users/flair/3543237.png?theme=clean" width="208" height="58" alt=""></a> -->
<!-- profile for PPM1988 on Stack Exchange, a network of free, community-driven Q&amp;A sites" title="profile for PPM1988 on Stack Exchange, a network of free, community-driven Q&amp;A sites -->

<!-- <div class="github-card" data-user="lepture" data-repo="github-cards"></div> -->

<!-- <div class="col-auto text-center">
  <ng-github-card [githubUser]="'ppm1988'"></ng-github-card>
</div> -->

<!-- <github-card data-github="ppm1988" data-width="400" data-height="150" data-theme="default"></github-card> -->