<div class="container">
  <div class="row">
    <div class="col-12 pt-5 text-center">
      <h1 class="no-margin-bottom color-light-gray font-weight-bold font-size70 sm-font-size50">
        # timeline
      </h1>
    </div>
  </div>

  <div class="row">
    <div class="col align-self-center">
      <div class="color-secondary font-size18 font-weight-bold">
        my career
      </div>
    </div>
  </div>

  <!-- <div class="row">
    <h1 class="col-12 pt-5 pb-1 text-center color-light-gray font-weight-bold font-size70 sm-font-size50">
      # timeline
    </h1>
  </div> -->
    
  <!-- <div class="row text-right">
    <div class="col-12 pb-4 color-secondary ">
      my career
    </div>
  </div> -->

  <div class="row margin-70px-top sm-margin-50px-top justify-content-center">
    <div class="mb-3 text-muted">
      <span class="font-size11">
        year <h5>2011</h5>
      </span>
    </div>

    <div class="col-12 position-relative">
      <div class="timeline-container">
        <div class="timeline-block" [ngClass]="{'timeline-block-right': even, 'timeline-block-left': odd }"
          *ngFor="let eachTimeline of timelineData; let odd = odd; let even = even">
            <div class="marker"></div>
            <div class="timeline-content">
              <h3>{{eachTimeline.title}}</h3>
              <span>{{eachTimeline.duration}}</span>
              <div>
                <div class="custom-tags d-inline-block" *ngFor="let eachPosition of eachTimeline.positions">
                  {{eachPosition}}
                </div>
              </div>
            </div>
        </div>
      </div>
      <!-- <div class="mt-4"> -->
        
      <!-- </div> -->
    </div>
    <div class="text-muted">
      <span class="font-size11">
        year <h5>2020</h5>
      </span>
    </div>
  </div><!-- ROW -->

  <div class="row padding-80px-tb">
    <hr class="col-auto hr-break">
  </div>
  
  <div class="row">
    <div class="col-12 text-center">
      <h1 class="no-margin-bottom color-light-gray font-weight-bold font-size70 sm-font-size50">
        # projects
      </h1>
    </div>
  </div>

  <div class="row">
    <div class="col align-self-center">
      <div class="color-secondary font-size18 font-weight-bold">
        my work
      </div>
    </div>
  </div>

  <div class="row margin-70px-top sm-margin-50px-top">
    <div class="col-12">
      <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide *ngFor="let eachCard of projectsData">
          <div class="card no-outline m-2 no-border-all">
            <!-- <div class="card-header border-transparent font-weight-bold">
              <h5 class="card-title">
                {{eachCard.title}}
                <span class="text-success" *ngIf="(eachCard.status === 'delivered') ? true : false" title="Delivered">&#10004;</span>
              </h5>
            </div> -->

            <div class="card-body">
              <h5 class="card-title mb-3">
                {{eachCard.title}}
                <span class="text-success" *ngIf="(eachCard.status === 'delivered') ? true : false" title="Delivered">&#10004;</span>
              </h5>
              <div class="mx-auto justify-content-center opacity9" [ngClass]="'bg-' + eachCard.for"></div>
              <h6 class="card-subtitle text-muted mt-3 mb-2">
                {{eachCard.type}}
              </h6>
              <div *ngIf="eachCard.skills.length > 0">
                <div class="custom-tags d-inline-block" *ngFor="let eachSkill of eachCard.skills">
                  {{eachSkill}}
                </div>
              </div>
              <span class="mt-3 d-inline-block" [innerHTML]="eachCard.innerHTML"></span>
            </div>
          </div>
        </ng-template>
      </owl-carousel-o>

    </div>
  </div>

</div>

