<div class="container" *ngIf="cardsData.length > 0">
  <div class="row">
    <h1 class="col-12 pt-5 pb-1 text-center color-light-gray font-weight-bold font-size70 sm-font-size50">
      # timeline
    </h1>
  </div>

  <div class="row text-right">
    <div class="col-12 pb-4 font-size46 md-font-size36 sm-font-size36 color-secondary ">
      my career
    </div>
  </div>

  <div class="row margin-70px-top sm-margin-20px-top justify-content-center">
    <div class="col-12 position-relative">
      <div class="timeline-container">
        <div class="timeline-block" [ngClass]="{'timeline-block-right': even, 'timeline-block-left': odd }" *ngFor="let eachTimeline of timelineData; let odd = odd; let even = even">
            <div class="marker"></div>
            <div class="timeline-content">
              <h3>{{eachTimeline.title}}</h3>
              <span>{{eachTimeline.duration}}</span>
              <p>
                <!-- <div [innerHTML]="eachTimeline.link">
                  
                </div> -->
              </p>
            </div>
        </div>
      </div>
    </div>
  </div><!-- ROW -->

  <div class="row padding-100px-tb">
    <hr class="col-auto hr-break">
  </div>
  
  <div class="row">
    <h1 class="col-12 pb-1 pt-2 text-center color-light-gray font-weight-bold font-size70 sm-font-size50">
      # projects
    </h1>
  </div>

  <div class="row text-right">
    <div class="col-12 pb-4 font-size46 md-font-size36 sm-font-size36 color-secondary">
      my work
    </div>
  </div>

  <div class="row margin-70px-top sm-margin-20px-top justify-content-center">
    <div class="col-auto" *ngFor="let eachCard of cardsData">
      <div class="card no-outline no-border-all" title="Proficiency {{eachCard.proficiency}}%">
        <div class="card-header bg-transparent border-transperent font-weight-bold">
          {{eachCard.title}}
        </div>
        <!-- <div class="card-body card-size">
          <div class="text-right font-weight-bold font-size18">{{eachCard.title}}</div>
          <div class="progress mt-1">
            <div class="progress-bar bg-green" role="progressbar" [ngStyle]="{'filter': 'hue-rotate(' + eachCard.proficiency + 'deg)'}" 
            [style.width.%]="eachCard.proficiency" [attr.aria-valuenow]="eachCard.proficiency" aria-valuemin="0" aria-valuemax="100">
            
            </div>
            <span class="d-inline-block ml-2">{{eachCard.proficiency}}%</span>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>

