<div class="text-center disable-select">

  <app-top-nav></app-top-nav>

  <div class="xs-margin-50px-top sm-margin-sixteen-top margin-150px-top"
  [style.min-height.px]="minHeight">
    <router-outlet (activate)="onActivate($event)"></router-outlet>

    <div class="position-relative">
      <div class="loader-overlay" *ngIf="showSpinner" [@simpleFadeAnimation]="'in'">
        <div class="lds-dual-ring"></div>
      </div>
    </div>
  </div>
  
  

  <footer id="divPageFooter" class="mt-5 p-3 bg-gray color-black top-shadow">
    <!-- <div class="row tex-center justify-content-center">
      <div class="col-auto col-lg-4">
        <alert></alert>
      </div>
    </div>
     -->
<!-- Icons made by <a href="https://www.flaticon.com/authors/eucalyp" target="_blank" title="Eucalyp">Eucalyp</a> from <a href="https://www.flaticon.com/" target="_blank" title="Flaticon"> www.flaticon.com</a> -->
     Thirukural or quotes
     <br>
     <!-- <img src="/examples/images/logo.svg" height="28" alt="CoolBrand"> -->
    <a href="#" class="float-left w-100">PPM1988</a>
    &copy; ppm1988
  </footer>

</div>