<div class="text-center disable-select">

  <app-top-nav></app-top-nav>

  <div class="loader-overlay" *ngIf="showSpinner">
    <div class="lds-dual-ring"></div>
  </div>

  <div class="sm-margin-twenty-five-top xs-margin-twenty-five-top md-margin-sixteen-top margin-thirteen-top">
    <router-outlet></router-outlet>

    Icons made by <a href="https://www.flaticon.com/authors/eucalyp" title="Eucalyp">Eucalyp</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
  </div>
</div>