<div class="text-center disable-select">

  <app-top-nav></app-top-nav>

  <div class="loader-overlay" *ngIf="showSpinner">
    <div class="lds-dual-ring"></div>
  </div>

  <div class="sm-margin-twenty-five-top xs-margin-twenty-five-top md-margin-sixteen-top margin-thirteen-top">
    <router-outlet></router-outlet>

    <!-- Icons made by <a href="https://www.flaticon.com/authors/eucalyp" target="_blank" title="Eucalyp">Eucalyp</a> from <a href="https://www.flaticon.com/" target="_blank" title="Flaticon"> www.flaticon.com</a> -->
  </div>

  <footer id="divPageFooter" class="mt-5 p-3 bg-gray">
    <!-- <div class="row tex-center justify-content-center">
      <div class="col-auto col-lg-4">
        <alert></alert>
      </div>
    </div>
     -->

     Contact links
     <br>
    &copy; ppm1988
  </footer>

</div>