<div id="div-top-nav">
  <a href="#" class="navbar-brand w-100">
    <!-- <img src="/examples/images/logo.svg" height="28" alt="CoolBrand"> -->
  PPM1988
  </a>

  <nav class="navbar navbar-expand-md navbar-light font-size24">
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse w-100" id="navbarCollapse">
          <div class="navbar-nav w-100 justify-content-center" >
            <a class="nav-hover nav-item nav-link d-inline d-lg-inline-block nav-width no-border" 
            [ngClass]="{'active': i === selectedNavIndex }" [routerLink]="navItem.link" (click)="selectNavItem(i)"
            *ngFor="let navItem of NAV_ITEMS; let i = index">
            <span class="icon d-inline-block mr-4" [inlineSVG]="'/assets/css/' + navItem.icon + '.svg'"></span>
            <span class="d-inline-block ml-4">{{navItem.name}}</span>
            </a>
          </div>
      </div>
  </nav>
</div>