#div-top-nav {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #F8F8F8;
  // background-color: #2098D1;
  z-index: 1000;
}

.nav-item:not(.active) {
  & .icon {
    filter: grayscale(100%);
  }
}

.nav-item:hover {
  & .icon {
    filter: none;
  }
  & div span {
    color: #0099CC;
  }
}
