#div-top-nav {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #F8F8F8;
  // background-color: #2098D1;
  z-index: 1111;
}
.nav-bottom-shadow.active {
  // &.active {
  -webkit-box-shadow: 0 6px 2px -1px #e9ecee, 0 -6px 2px -1px #e9ecee;
  -moz-box-shadow: 0 6px 2px -1px #e9ecee, 0 -6px 2px -1px #e9ecee;
  box-shadow: 0 6px 2px -1px #e9ecee, 0 -6px 2px -1px #e9ecee;
  // }
}
.nav-item:not(.active) {
  & .nav-icon {
    filter: grayscale(100%);
  }
}

.nav-item:hover {
  & .nav-icon {
    filter: none;
  }
  &:not(.active) div {
    // color: #E18942;
    color: #4FC1E9;
  }
}
