#div-top-nav {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #FFF;
}

.nav-item:not(.active) {
  & .icon {
    filter: grayscale(100%)
  }
}

.nav-item:hover {
  & .icon {
    filter: none;
  }
}