/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

$color-primary: #7A3E48;
$color-secondary: #E18942;
$color-secondary-dark: #B95835;
$color-primary-dark: #3D3242;


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .nav-icon > svg {
    height: 50px;
    width: 50px;
  }

  // .overflow-y{
  //   overflow-y: auto;
  // }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .nav-icon > svg {
    height: 60px;
    width: 60px;
  }
  // .overflow-y{
  //   overflow-y: auto;
  // }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .nav-width {
    width: 25%;
  }
  .nav-icon > svg {
    height: 70px;
    width: 70px;
  }
  .font-size70{
    font-size: 70px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  
}

.h-200px{
  height: 200px;
}
.color-white{
  color: #FFF;
}
.color-black{
  color: #000;
}
.color-yellow{
  color: #FF0;
}
.color-gray{
  color: #EEE;
}
.color-light-gray{
  color: #DCDFE2;
  // color: #F2F4F6;
}
.color-lighter-gray{
  color: #E9ECEF;
}
.color-dark-gray{
  color: #737373;
}
.color-green{
  color: #27ae60;
}
.color-blue{
  color: #0099CC;  
}
.color-lighter-blue{
  color: #CCFFCC;
}
.color-light-blue{
  color: #66CCFF;
}
.color-darker-blue{
  color: #003399;
}
.color-dark-blue{
  color: #007bff;
}
.color-primary{
  color: #7A3E48;
}
.color-secondary{
  color: #E18942;
}
.color-secondary-dark{
  color: #B95835;
}
.color-primary-dark{
  color: #3D3242;
}

.bg-yellow{
  background-color: #FF0;
}
.bg-dark-gray{
  // background-color: #e9ecee;
  background-color: #595959;
}
.bg-gray{
  background-color: #F8F8F8;
}
.bg-red{
  background-color: #c0392b;
}
.bg-green{
  background-color: #27ae60;
}

.hr-break{
  // #C0392B
  border: 2px solid #737373;
  border-radius: 5px;
}
.height-3px{
  height: 3px;
}
.height-20px{
  height: 20px;
}
.height-60px {
  height: 60px;
}
.disable-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.no-link{
  color: #000;

  &:hover{
    color: #000;
    text-decoration: none;
  }
}

.top-shadow{
  // -webkit-box-shadow: 0 8px 6px -6px #e9ecee;
  // -moz-box-shadow: 0 8px 6px -6px #e9ecee;
  // box-shadow: 0 8px 6px -6px #e9ecee;
  -webkit-box-shadow: 0 -8px 6px -6px #e9ecee;
  -moz-box-shadow: 0 -8px 6px -6px #e9ecee;
  box-shadow: 0 -8px 6px -6px #e9ecee;

  // -webkit-box-shadow: 10px 0 6px -6px #e9ecee;
  // -moz-box-shadow: 10px 0 6px -6px #e9ecee;
  // box-shadow: 10px 0 6px -6px #e9ecee;
}
.no-outline:focus, .no-outline:active, .no-outline:hover {
  outline: none;
}
.cursor-pointer {
  cursor: pointer;
}

.margin-150px-top{
  margin-top: 150px;
}
.margin-150px-bottom{
  margin-bottom: 150px;
}

.small-card{
  height: 100px;
  width: 250px;
}

// UTILITY
.hover-white:hover{
  color: white;
}
.css-grow {
  transition: all .2s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }
}


.owl-nav {
  position: absolute;
  top: -40px;
  left: calc(50% - 30px);
}

.custom-tags {
  font-size: 14px;
  line-height: 1.5em;
  word-spacing: 1px;
  padding: 4px 8px;
  margin: 5px;
  color: #FFF;
  background-color: #888;
  border-radius: 5px;
}



.bg-amzn {
  width: 100px; height: 30px;
  background: url('assets/icons/logo_sprites.png') -8px -8px;
}
.bg-cts {
  width: 100px; height: 21px;
  background: url('assets/icons/logo_sprites.png') -124px -8px;
}
.bg-ces {
  width: 62px; height: 45px;
  background: url('assets/icons/logo_sprites.png') -8px -54px;
}

// .hover-effect:hover {
//   box-shadow: 0 5px 35px 0px rgba(0,0,0,.1);
// }

// .hover-effect:hover:before, .hover-effect:hover:after {
//   display: block;
//   content: '';
//   position: absolute;
//   width: 250px;
//   height: 250px;
//   background: #FDA8CF;
//   border-radius: 75px;
//   z-index: -1;
//   animation: 1s clockwise infinite;
// }

// .hover-effect:hover:after {
//   background: #F3CE5E;
//   animation: 2s counterclockwise infinite;
// }

// @keyframes clockwise {
//   0% {
//     top: -5px;
//     left: 0;
//   }
//   12% {
//     top: -2px;
//     left: 2px;
//   }
//   25% {
//     top: 0;
//     left: 5px;    
//   }
//   37% {
//     top: 2px;
//     left: 2px;
//   }
//   50% {
//     top: 5px;
//     left: 0;    
//   }
//   62% {
//     top: 2px;
//     left: -2px;
//   }
//   75% {
//     top: 0;
//     left: -5px;
//   }
//   87% {
//     top: -2px;
//     left: -2px;
//   }
//   100% {
//     top: -5px;
//     left: 0;    
//   }
// }

// @keyframes counterclockwise {
//   0% {
//     top: -5px;
//     right: 0;
//   }
//   12% {
//     top: -2px;
//     right: 2px;
//   }
//   25% {
//     top: 0;
//     right: 5px;    
//   }
//   37% {
//     top: 2px;
//     right: 2px;
//   }
//   50% {
//     top: 5px;
//     right: 0;    
//   }
//   62% {
//     top: 2px;
//     right: -2px;
//   }
//   75% {
//     top: 0;
//     right: -5px;
//   }
//   87% {
//     top: -2px;
//     right: -2px;
//   }
//   100% {
//     top: -5px;
//     right: 0;    
//   }
// }



// .hover-effect:hover{
  // position:relative;
  // -webkit-box-shadow:0 1px 4px #e9ecee, 0 0 40px #e9ecee;
  //     -moz-box-shadow:0 1px 4px #e9ecee, 0 0 40px #e9ecee;
  //         box-shadow:0 1px 4px #e9ecee, 0 0 40px #e9ecee;


  // -webkit-box-shadow: 0 10px 6px -6px #777;
  // -moz-box-shadow: 0 10px 6px -6px #777;
  //       box-shadow: 0 10px 6px -6px #777;

  // &:before, &:after{
  //   content:"";
  //   position:absolute;
  //   z-index:-1;
  //   -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
  //   -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
  //   box-shadow:0 0 20px rgba(0,0,0,0.8);
  //   top:50%;
  //   bottom:0;
  //   left:10px;
  //   right:10px;
  //   -moz-border-radius:100px / 10px;
  //   border-radius:100px / 10px;
  // }

  // &:after{
  //   right:10px;
  //   left:auto;
  //   -webkit-transform:skew(8deg) rotate(3deg);
  //      -moz-transform:skew(8deg) rotate(3deg);
  //       -ms-transform:skew(8deg) rotate(3deg);
  //        -o-transform:skew(8deg) rotate(3deg);
  //           transform:skew(8deg) rotate(3deg);
  // }
// }