/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';


 /* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 600px) {
  .icon > svg {
    height: 50px;
    width: 50px;
  }
 }

 /* Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (min-width: 600px) {
  .icon > svg {
    height: 60px;
    width: 60px;
  }
 }
 
 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) {
  .nav-width {
    width: 25%;
  }
  .icon > svg {
    height: 70px;
    width: 70px;
  }
 }
 
 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) {
   
 }
 
 /* Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 1200px) {
   
 }

 .nav-width {
  border: 1px double black;
  border-radius: 10px;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  // border-bottom-style: hidden;
  background-color: #FFF;
}
.disable-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.no-border {
  // border-top-style: hidden;
  // border-right-style: hidden;
  // border-left-style: hidden;
  // border-bottom-style: hidden;
  // background-color: #FFF;
}
.no-outline:focus, .no-outline:active, .no-outline:hover {
  outline: none;
}
.cursor-pointer {
  cursor: pointer;
}